@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

body {
  background: v.$navy-950-main-background;
}

.card {
  background: v.$blue-950-card-background;
  overflow: hidden;
  border-radius: 0.8rem;
}

.card__profil {
  position: relative;
  background-color: v.$purple-500-accent;

  img {
    mix-blend-mode: multiply;
    opacity: 0.85;
  }
}

.card__infos {
  padding: 4rem 2.5rem 3rem;
  @include flex(column, center, center);
  text-align: center;
}

.card__infos-title {
  font-family: v.$ff-inter;
  font-size: 3rem;
  line-height: 1.15;
  margin-bottom: 1.8rem;

  span {
    color: v.$purple-500-accent;
  }
}

.card__infos-description {
  font-family: v.$ff-Lexend;
  font-size: 1.5rem;
  font-weight: v.$fw-400;
  color: v.$white-main-paragraph;
  line-height: 1.65;
}

.card__infos-result {
  @include flex(column, space-between, center);
  gap: 3rem;
  margin-top: 3.8rem;
}

.result-list {
  font-family: v.$ff-Lexend;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-size: 2.9rem;
  }

  p {
    text-transform: uppercase;
    color: v.$white-stat-headings;
    font-weight: v.$fw-400;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .card__infos {
    @include flex(column, center, flex-start);
    text-align: start;
    padding-inline: 8rem 11rem;
  }

  .card__infos-result {
    width: 100%;
    @include flex(row, space-between, center);
  }
}
