@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

html {
    font-size: 62.5%;
}

body {
    font-family: v.$ff-inter;
    color: v.$white-main-heading-stats;
    line-height: 1.6;
    font-size: v.$fs-sm;
}

